extends layout

block content
  h1 Mental Math 2 
  h2 About
  p Auditory mental math game using responsiveVoice
  h2 How to play
  p break number / repeat buttons / settings
  
  a.playnow(href='play') Play now!
     
