nav.navbar
  ul
      a(href="/setting")
          li Settings
      if currentUser
        a.btn(href='/logout') Log Out
      else
        a(href="/login")
            li Login
      a(href="/profile")
          li Profile
      a(href="/play")
          li Play
      if !currentUser
        a(href="/register")
            li Register
      a(href="/scoreboard")
          li Scoreboard
