nav.navbar
  ul
      a(href="/")
          li(class=(title === "Home" ? "active" : undefined)) Home
      a(href="/setting")
          li(class=(title === "Settings" ? "active" : undefined)) Settings
      a(href="/profile")
          li(class=(title === "Profile" ? "active" : undefined)) Profile
      if !currentUser
        a(href="/register")
            li#signup.navbar-right Sign Up
      a(href="/scoreboard")
          li(class=(title === "Scoreboard" ? "active" : undefined)) Scoreboard
      a(href="/play")
          li Play!  
      if currentUser
        a.btn(href='/logout') 
          li#logout Log Out
      else
        a(href="/login")
            li#login Login
