nav.navbar
            ul.col-md-12.row
                a(href="/setting")
                    li.col-md-3.col-md-offset-1 Settings
                a(href="/login")
                    li.col-md-3 Login
                a(href="/profile")
                    li.col-md-3 Profile
                a(href="/register")
                    li.col-md-3 Register
