extends layout

block content
        h1 Sign Up
        // register form
        form(method='POST' action='/register')
          div
            label(for='username') Username:
            input#name(type='text', name='username')
          div
            label(for='email') Email:
            input#email(type='email', placeholder='name@email.com' name='email')
          div
            label(for='pw') Password:
            input#pw(type='password' name='password')
          div
            label(for='pw2') Confirm Password:
            input#pw2(type='password' name='confirmPassword')
          button(type='submit') Sign up
