extends layout

block content
  h1 Scoreboard
    table(id="scoreboard")
      tr
        th Username
        th Total points
        th High score
      each user in users 
        tr 
          td #{user.username}
          td #{user.totalPoints}
          td #{user.highScore}
        
